/*______ navbar __________________________________________________ */

#nvb-name {
  color: white;
}

.navbar-brand {
  font-size: 60px;
  margin-left: 30px;
}

#menu {
 margin-right: 30px;
 font-size: 25px;
}

/*______ navbar_image______________________________________________ */

.navbar_image {
  background: url("../images/navbar_image.jpeg") no-repeat center center;
  margin-top: 50px;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

/*______ general___________________________________________________ */

#gerenal_space_between {
  margin-top: 30px;
}

.general_block {
  margin-top: 30px;
}

#general_text {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.general-image {
  background: url("../images/general_image.jpg") no-repeat center center;
  background-size: cover;
  min-height: 300px;
  overflow: hidden;
  position: relative;
}

/*______ packages___________________________________________________ */


.column_settings {
  background-color: pink;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20%;
  height: 100%;
  box-shadow: 5px 10px rgb(124, 119, 119);
}

.around-column {
  margin-top: 20px;
  margin-bottom: 40px;
}
/*______ / packages_________________________________________________________ */

/*______ general_locations__________________________________________________ */

#locations_space_between {
  margin-top: 30px;
  margin-bottom: 30px;
}

#locations_space_between_2 {
  margin-bottom: 30px;
}

.locations_image {
  background: url("../images/locations_image.jpg") no-repeat center center;
  margin-top: 100px;
  background-size: cover;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}

.zandvoort-image {
  background: url("../images/zandvoort.jpg") no-repeat center center;
  min-height: 150px;
}

.scheveningen-image {
  background: url("../images/scheveningen.jpg") no-repeat center center;
  min-height: 150px;
}

.zandvoort {
  margin-top: 30px;
  margin-bottom: 30px;
}

.scheveningen {
margin-top: 30px;
margin-bottom: 30px;
}

/*______ / general_locations________________________________________________ */

/*______ / reservations form________________________________________________ */


.form-section {
    clear: left;
    background-image:url('../images/reservations_form_image.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
}

.signup-form {
  margin-top: 125px;
  color: #fff;
  background-color: #29282879;
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px 30px 30px 30px;
}

.signup-form h2{ 
  color: #fafafa;
  margin-bottom: 40px;
}

.text-input {
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: pink;
}

.join-button {
  margin-top: 40px;
  border-radius: 1.5px;
  padding: 10px 25px 10px 25px;
  text-align: center;
  font-size: 100%;
  background-color: pink;
  color: #fafafa;
  display: block;
  
}

.join-button:hover {
  background-color: #fafafa;
  color: pink;
}

/*______ / reservations form________________________________________________ */

/*______ contact form________________________________________________ */

.contact-section {
    clear: left;
    background-image:url('../images/contact_form_image.jpg');
    background-size: cover;
    background-position: center;
    height: 650px;
}

.contact-form {
  margin-top: 125px;
  color: #666666;
  background-color: #e6e6e679;
  max-width: 400px;
  position: absolute;
  left: 15%;
  padding: 30px 30px 30px 30px;
}

.contact-form h2{ 
  color: #666666;
}

.text-input {
  background-color: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input:hover {
  border-color: pink;
}

text-input-text {
  border: 1px solid #fafafa;
  border-radius: 2px;
}

.text-input-text:hover {
  border-color: pink;
}

.join-button-contact {
  margin-top: 20px;
  border-radius: 1.5px;
  padding: 10px 25px 10px 25px;
  text-align: center;
  font-size: 100%;
  background-color: pink;
  color: #fafafa;
  display: block;
  
}

.join-button-contact:hover {
  background-color: #fafafa;
  color: pink;
}

textarea{
  background-color: #e6e6e679;
  margin-top: 20px;
  border: 1px solid #fafafa;
}

/*______ / contact form________________________________________________ */

/*______ footer_____________________________________________________________ */

footer {
    background-color:lightgray;
    line-height: 10px;
    padding-top: 10px;
}

#footer-text {
color: grey;
text-align: center;
}

.media-icons {
    letter-spacing: 40px;
    text-align: center;
}

@media only screen and (max-width: 600px) {

.navbar-brand {
  font-size: 30px;
  margin-left: 10px;
}

#general_text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#footer-text {
font-size: 10px;
}

.navbar_image {
  background: url("../images/navbar_image.jpeg") no-repeat center center;
  margin-top: 50px;
  background-size: cover;
  min-height: 150px;
  overflow: hidden;
  position: relative;
}

.locations_image {
  background: url("../images/locations_image.jpg") no-repeat center center;
  margin-top: 70px;
  background-size: cover;
  min-height: 150px;
  overflow: hidden;
  position: relative;
}

.signup-form {
  margin-top: 125px;
  color: #fff;
  background-color: #29282879;
  max-width: 300px;
  padding: 20px 20px 20px 20px;
}

.contact-form {
  margin-top: 125px;
  color: #666666;
  background-color: #e6e6e679;
  max-width: 300px;
  position: absolute;
  padding: 15px 15px 15px 15px;
}

}

@media only screen and (min-width: 768px) and (max-width: 1024px)  { 
  .form-section {
    clear: left;
    background-image:url('../images/reservations_form_image.jpg');
    background-size: cover;
    background-position: center;
    height: 940px;
}

.signup-form {
  margin-top: 200px;
  color: #fff;
  background-color: #29282879;
  max-width: 400px;
  height: 500px;
  padding: 60px 30px 30px 30px;
}

.contact-section {
    clear: left;
    background-image:url('../images/contact_form_image.jpg');
    background-size: cover;
    background-position: center;
    height: 940px;
}

.contact-form {
  margin-top: 250px;
  color: #666666;
  background-color: #e6e6e679;
  max-width: 400px;
  position: absolute;
  left: 24%;
  padding: 30px 30px 30px 30px;
}

}

@media only screen and (min-width : 1024px) and (max-width : 1366px)  { 
    .form-section {
    clear: left;
    background-image:url('../images/reservations_form_image.jpg');
    background-size: cover;
    background-position: center;
    height: 1290px;
}

.signup-form {
  margin-top: 350px;
  color: #fff;
  background-color: #29282879;
  max-width: 400px;
  height: 500px;
  padding: 80px 30px 30px 30px;
}

.contact-section {
    clear: left;
    background-image:url('../images/contact_form_image.jpg');
    background-size: cover;
    background-position: center;
    height: 1290px;
}

.contact-form {
  margin-top: 250px;
  color: #666666;
  background-color: #e6e6e679;
  max-width: 400px;
  position: absolute;
  left: 20%;
  padding: 30px 30px 30px 30px;
}
}